@{
    ViewBag.Title = "Casa de Carnes Schiassi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Full Page Image Header Area -->
    
    <div id="top" class="header" >
      <div class="vert-text">
        <h1>Casa de Carnes Schiassi</h1>        
      </div>
    </div>

    <!-- /Full Page Image Header Area -->
  
    <!-- Callout -->
    <div id="pregao" class="callout">
      
        <div class="vert-text">

          
            <div class="col-md-12 text-center">
              <h1>E-PREGÃO<br><br></h1>
            </div>
          
        
          
            <div class="col-md-6 col-md-offset-3  text-center">

              <div class = "alert alert-success">
                <h3>Também chamado de Leilão Reverso, o Pregão é realizado em lances sucessivos e decrescentes, no chamado "quem dá menos" (NBS).</h3>
              </div>

              <div class = "alert alert-success">
                <p class="lead">A Casa de Carnes Schiassi utiliza o Pregão eletrônico(E-Pregão) para aquisição de produtos com seus fornecedores. Se você é um fornecedor clique <code> @Html.ActionLink("AQUI", "cadastrar", null, new { @class = "" })</code> para fazer seu login ou se cadastrar.</p>
              </div>

            </div>            
          

        </div>
      
    </div>
    <!-- /Callout -->
      
    
  
    
    <!-- Portfolio -->
    
    <div id="servicos" class="portfolio">             
          

            <div class="col-md-4">

              <div class="vert-text">
                <div class="alert alert-success">          
                  <h2>Linha de Produtos<br></h2>              
                </div>
              </div>

            </div>         
        

            <div class="col-md-8">

              <br>
              <!--<div class="row">-->
                <div class="col-md-4 text-center">
                  <div class="portfolio-item">
                    <a><img class="img-portfolio img-responsive thumbnail" src="~/Content/themes/base/images/bovina.jpg"></a>
                    <h4>CARNES BOVINAS</h4>
                  </div>
                </div>          
                <div class="col-md-4 text-center">
                  <div class="portfolio-item">
                    <a><img class="img-portfolio img-responsive thumbnail" src="~/Content/themes/base/images/porco.jpg"></a>
                    <h4>CARNES SUINAS</h4>
                  </div>
                </div>
              <!--</div>-->
            
            
              <!--<div class="row">-->
                <div class="col-md-4 text-center">
                  <div class="portfolio-item">
                    <a><img class="img-portfolio img-responsive thumbnail" src="~/Content/themes/base/images/cordeiro.jpg"></a>
                    <h4>CARNES DE CORDEIROS</h4>
                  </div>
                </div>                
                <div class="col-md-4 text-center">
                  <div class="portfolio-item">
                    <a><img class="img-portfolio img-responsive thumbnail" src="~/Content/themes/base/images/frios.jpg"></a>
                    <h4>CARNES FRIAS</h4>
                  </div>
                </div>
              <!--</div>-->

                <div class="col-md-4 text-center">
                  <div class="portfolio-item">
                    <a><img class="img-portfolio img-responsive thumbnail" src="~/Content/themes/base/images/peixes.jpg"></a>
                    <h4>CARNES DE PEIXES</h4>
                  </div>
                </div>
                <div class="col-md-4 text-center">
                  <div class="portfolio-item">
                    <a><img class="img-portfolio img-responsive thumbnail" src="~/Content/themes/base/images/frango.jpg"></a>
                    <h4>CARNES DE AVES</h4>
                  </div>
                </div>

            </div>

          </div>
        
    <!-- /Portfolio -->



<div id="contato" class="rodape" >
  <div class="vert-text container">
    <div class="col-md-12">    
        <div class="col-md-5 col-md-offset-1">          
            <br>
            <h3 align="left">Rua: Angelo Taglialegna, n° 320</h3>
            <br>
            <h3 align="left">Bairro: Colina São Marcos</h3>
            <br>
			      <h3 align="left">Cidade: Paraguaçu -  MG</h3>
            <br>
            <h3 align="left">Telefone: (35) 3267 - 2032</h3>
            <br>
            <h3 align="left">Celular:  8443-5647 </h3>                  
        </div>
        <div class="col-md-6">                        
			  <br>
              <blockquote>        
                <a><img class="img-portfolio " src="~/Content/themes/base/images/mapa.png"></a>
              </blockquote>
            
          </blockquote>
        </div>
     </div>          
    

     <div class="row container">                       
        <div class="col-md-6 col-md-offset-4 text-center">
          <br>
          <ul class="list-inline">
            <li><i class="icon-facebook icon-2x"></i></li>
            <li><i class="icon-twitter icon-2x"></i></li>
            <li><i class="icon-dribbble icon-2x"></i></li>
          </ul>
          <hr>
          <p>Copyright © Company 2013</p>
         </div>
      </div>  

  </div>
</div>
