@{
    ViewBag.Title = "Casa de Carnes Shiassi - Parceiros";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class ="well">
   <h1>Página Inicial</h1>
   <div class="row-fluid">
       <div class="well">
           <h1>Administrador</h1>
           <p>
               Administrador do sistema
           </p>
           <p><a class="btn btn-primary btn-large">Saiba Mais</a></p>
       </div>
   </div>
</div>


