<div class="well" style="position: fixed">
    <ul class="nav nav-list ">
        <li class="nav-header">Leilões</li>
        <li>@Html.ActionLink("Criar", "Cadastrar", "LeilaoAdmin")</li>
        <li><a href="#">Acompanhar</a></li>
        <li><a href="#">Alterar Status</a></li>
        <li><a href="#">Historico</a></li>
        <li><a href="#">Termo de Compromisso</a></li>
        <li class="nav-header">Fornecedores</li>
        <li><a href="#">Ativos</a></li>
        <li><a href="#">Não Ativos</a></li>
    </ul>
</div>






