<footer>
      <div class="row container">                       
        <div class="col-md-6 col-md-offset-4 text-center">
          <br>
          <ul class="list-inline">
            <li><i class="icon-facebook icon-2x"></i></li>
            <li><i class="icon-twitter icon-2x"></i></li>
            <li><i class="icon-dribbble icon-2x"></i></li>
          </ul>
          <hr>
          <p>Copyright © Company 2013</p>
        </div>
      </div>
</footer>

