@{
    ViewBag.Title = "Casa de Carnes Schiassi";
    Layout = "~/Areas/Usuario/Views/Shared/_Layout.cshtml";
}
<div class="col-md-12 ">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">@Html.ActionLink("Pregão", "iniciousuario", "usuario") </h3>
        </div>
        <div class="panel-body">
            <div class="well">
                <h1>Seja bem vindo @ViewBag.nome!</h1>                
            </div>
        </div>
    </div>
</div>
